<td class="cell" id="cell-<%= y %>-<%= x %>">
	<table class="table">
		<tbody>
			<tr class="row top">
				<td class="cell left"></td>
				<td class="cell center"></td>
				<td class="cell right"></td>
			</tr>
			<tr class="row center">
				<td class="cell left"></td>
				<td class="cell center"></td>
				<td class="cell right"></td>
			</tr>
			<tr class="row bottom">
				<td class="cell left"></td>
				<td class="cell center"></td>
				<td class="cell right"></td>
			</tr>
		</tbody>
	</table>
</td>
